* {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
}

body {
  background-image: linear-gradient(
    90deg,
    rgb(150, 150, 150),
    rgb(172, 172, 172)
  );
  overflow: auto;
  height: 1000px;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50px 1fr 30px;
  grid-template-areas:
    "logo nav nav nav nav"
    "side cont cont cont cont"
    "side fot fot fot fot";
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px 0 #00000041;
  border-radius: 15px;
}

.logo {
  grid-area: logo;
}

.nav {
  grid-area: nav;
}

.side {
  padding: 8px;
  grid-area: side;
  box-shadow: 2px 2px 4px 0 #00000041;
  border-radius: 15px;
}

.Y {
  overflow-y: auto;
  display: grid;
  row-gap: 15px;
  grid-template-rows: repeat(10, 50px);
  width: 100%;
  height: 100%;
}

.Y div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 2px 2px 4px 0 #00000041;
  height: 100%;
  border-radius: 15px;
}

.cont {
  grid-area: cont;
}

.X {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 10px;
  align-items: center;
  width: 50%;
  height: 50%;
}

.X div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px 0 #00000041;
  height: 100%;
  border-radius: 15px;
}

.foter {
  grid-area: fot;
}

/* .flex {
  background-color: #d4d4d3;
  display: grid;
  width: 500px;
  height: 500px;
  padding: 10px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  box-shadow: 2px 2px 4px 0 #00000041;
  gap: 10px 10px;
  border-radius: 15px;
  justify-content: space-evenly;
  align-content: space-around;
}

.flex div {
  counter-increment: num;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #65a52a79;
  width: auto;
  box-shadow: 2px 2px 4px 0 #00000041;
  height: auto;
  filter: blur(0.5px);
  margin: 2px;
  border-radius: 15px;
} */

/* .flex div::before {
  font-size: 100px;
  content: counter(num);
  color: black;
} */
